/* body */
.font-body {
  font-family: 'IBM Plex Sans', sans-serif;
}
a,
a:hover {
  text-decoration: none !important;
  color: inherit !important;
}

/* navbar */
.navbar {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  background-color: transparent;
  transition: background-color 0.3s ease, box-shadow 0.5s ease;
}

.navbar.scrolled {
  background-color: #464bbe;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 20px, rgba(0, 0, 0, 0.1) 0px 15px 12px;
}
li {
  margin: auto;
  padding-left: 1.5vh; 
  padding-right: 1.5vh;
}

/* Animasi garis bawah */
.nav-link {
  position: relative;
  overflow: hidden;
}
.nav-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff; /* Warna garis bawah */
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-link:hover::before {
  color: inherit;
  transform: scaleX(1);
}

/* header */
.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99.3%;
  background-color: rgba(0, 0, 0, 0.5); /* opasitas 50% */
}

.arrow-prop {
  font-size: 3.5vh;
  animation: arrow-prop 1.5s infinite;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px;
}

@keyframes arrow-prop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

/* body */
.container-prop {
  padding: 5vh;
  background-color: #f5f7f8;
  height: 100%;
}

.btn-explore-sign_in {
  background-color: #464bbe;
  border-radius: 20px;
  border-color: transparent;
  padding: 1vh 3vh 1vh 3vh;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: 0.3s ease;
}

.btn-explore-sign_in:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.body-prop {
  padding: 10vh 30vh 10vh 30vh;
  background-color: #464bbe;
  border-radius: 13vh 13vh 0 0;
  line-height: 1.6;
  margin: 0 auto;
  width: 100%;
}

.body-img-prop {
  border-radius: 10vh;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 5px 0px;
}

.body-prop,
p {
  font-size: 3vh;
}
.body-gradient {
  height: 9vh;
  background: linear-gradient(to bottom, #464bbe 0%, transparent);
}

/* slider */
.testimonial {
  text-align: center;
  padding: 30px 0;
}

.testimonial img {
  border-radius: 50%;
  width: 100px !important;
  height: 100px !important;
  margin: 0 auto 20px;
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
}

.testimonial h2 {
  color: #333;
  margin-bottom: 10px;
}

.testimonial p {
  font-size: 16px;
  color: #666;
}

.testimonial .item {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15%;
  margin: 2vh 1vh 2vh 1vh;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* download app */
.download-prop {
  background-color: #0c0d0e;
  border-radius: 13vh 13vh 0 0;
}
.btn-download-prop {
  display: flex;
  padding: 3vh 0 3vh 0;
}
.btn-download-prop p {
  padding: 0 1vh 0 1vh;
  margin: 0;
}
.btn-download {
  background-color: #f5f7f8;
  border-radius: 100px;
  height: 100%;
  border-color: transparent;
  padding: 0.5vh 2.5vh 0.5vh 2.5vh;
  margin: 0 1vh 0 1vh;
  color: #0c0d0e;
  box-shadow: transparent;
  transition: 0.3s ease;
}

.btn-download:hover {
  box-shadow: rgba(227, 214, 214, 0.6) 1px 1px 10px 3px;
}
.icon-download {
  font-size: 3.2vh;
}
.border-prop {
  border-bottom: 2px solid rgba(255, 255, 255, 0.08);
  border-width: 0.4vh;
}

/* footer */
footer {
  background-color: #0c0d0e;
}
.li-footer-prop {
  list-style: none;
  padding: 1vh 0 1vh 0;
}

.button-footer {
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s ease;
}

.button-footer:hover {
  color: #ffffff;
  text-shadow: 2px 2px 3px #ffffff80;
}

.icon-prop {
  font-size: 4.5vh;
}

.copy-prop {
  background-color: #131416;
}

/* login */
/* CSS untuk popup login */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6); /* Ubah opacity untuk efek gelap */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30% !important;
  animation: fadeIn 0.3s ease; /* Animasi fade saat muncul */
}

/* Animasi fade */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: color 0.3s ease; /* Efek transisi warna saat hover */
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

input {
  width: 100%;
  padding: 10px;
  background: none;
  border: none;
  border-bottom: 2px solid #555;
  color: #555;
  font-size: 16px;
  resize: none;
  font-family: 'ocr', sans-serif;
}

input {
  outline: none;
}

.submit-button {
  margin: 2vh 0 0 0;
}
.submit-button {
  padding: 0.5rem 1rem;
  transition: 0.4s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #ffffff;
  background-image: linear-gradient(
    45deg,
    #464bbe 0%,
    #804aff 51%,
    #464bbe 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.submit-button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.submit-button:active {
  transform: scale(0.95);
}
.signupBtn {
  color: #464bbe !important;
}

/* responsive */
@media (max-width: 500px) {
  .header-content h1 {
    font-size: 4vh; /* Decrease font size for header */
  }

  .btn-explore-sign_in {
    padding: 0.8rem 1.5rem; /* Adjust padding for buttons */
  }

  .body-prop,
  p {
    font-size: 2.5vh; /* Decrease font size for body text */
  }

  .testimonial img {
    width: 80px !important;
    height: 80px !important; /* Adjust size of testimonial images */
  }
}

/* For devices up to 700px */
@media (max-width: 700px) {
  .header-content h1 {
    font-size: 3.5vh; /* Further decrease font size for header */
  }

  .navbar-nav {
    font-size: 3vh; /* Decrease font size for navbar items */
  }
}

/* For devices up to 992px */
@media (max-width: 992px) {
  .header-content h1 {
    font-size: 3vh; /* Further decrease font size for header */
  }

  .body-prop,
  p {
    font-size: 2.2vh; /* Further decrease font size for body text */
  }

  .testimonial img {
    width: 70px !important;
    height: 70px !important; /* Further adjust size of testimonial images */
  }
}
