/* body */
body {
  font-family: 'IBM Plex Sans', sans-serif !important;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Safari, and Opera */
}
.bg-custom {
  background-color: #464bbe;
}
a,
a:hover {
  text-decoration: none !important;
  color: inherit !important;
}

/* btn */
.btn-custom {
  background-color: #464bbe;
  border-radius: 20px;
  border-color: transparent;
  padding: 1vh 3vh 1vh 3vh;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: 0.3s ease;
  border: none;
}
.btn-custom:hover {
  border-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btn-logout {
  background-color: red;
}

/* navbar */
.navbar {
  background-color: #464bbe;
  padding: 15px 0;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
li {
  margin: auto;
  padding-left: 1.5vh; /* Atur ruang kiri navbar */
  padding-right: 1.5vh;
}
.nav-item {
  margin: 0 2vh 0 2vh;
}

/* animasi */
.nav-link {
  position: relative;
  overflow: hidden;
}
.nav-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff; /* Warna garis bawah */
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.nav-link:hover::before {
  color: inherit;
  transform: scaleX(1);
}
.btn-profile {
  background-color: transparent !important;
  border: none;
  padding: 0;
  color: #ffffff !important; /*  warna ikon  */
  font-size: 24px;
}

/* header */
header {
  height: 100%;
  padding: 25vh 0;
  font-family: 'Roboto', sans-serif !important;
}
.btn-filter {
  margin: 0 1vh 0 1vh;
  border: 2.4px transparent;
  border: 2.4px solid #464bbe;
  transition: 0.3s ease;
}
.btn-filter.active {
  margin: 0 1vh 0 1vh;
  background-color: #fff;
  border: 2.4px solid #464bbe;
  color: #464bbe !important;
  font-weight: 600;
}
.card {
  position: relative;
}
.prop-card {
  margin: 2vh 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 10px, rgba(0, 0, 0, 0.1) 0px 2px 3px;
}
#laundry-list {
  display: flex;
  flex-direction: column;
}
.status {
  position: absolute;
  top: 2vh;
  right: 10px;
  padding: 5px 20px;
  background-color: transparent;
  border: 3px solid #464bbe;
  color: #464bbe;
  border-radius: 30vh;
  font-weight: 500;
}
.rating {
  font-size: 24px;
  cursor: pointer;
}

.rating .star {
  color: gray;
}

.rating .star:hover,
.rating .star.selected {
  color: gold;
}
#paymentModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#qrcode {
  margin: auto;
  text-align: center;
}

/* footer */
footer {
  background-color: #464bbe;
}
.li-footer-prop {
  list-style: none;
  padding: 1vh 0 1vh 0;
}

.button-footer {
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s ease;
}

.button-footer:hover {
  color: #ffffff;
  text-shadow: 2px 2px 3px #ffffff80;
}

.icon-prop {
  font-size: 4.5vh;
}

.copy-prop {
  background-color: #4246ab;
}
