/* Global styles */
body {
  font-family: 'IBM Plex Sans', sans-serif;
}
a,
a:hover {
  text-decoration: none !important;
  color: inherit !important;
}

.btn-custom {
  background-color: #464bbe;
  border-radius: 20px;
  border-color: transparent;
  padding: 1vh 3vh 1vh 3vh;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: 0.3s ease;
  border: none;
}
.btn-custom:hover {
  border-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btn-logout {
  background-color: red;
}

/* navbar */
.navbar {
  background-color: #464bbe;
  padding: 15px 0;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
li {
  margin: auto;
  padding-left: 1.5vh; /* Atur ruang kiri navbar */
  padding-right: 1.5vh;
}
.nav-item {
  margin: 0 2vh 0 2vh;
}

/* animasi */
.nav-link {
  position: relative;
  overflow: hidden;
}
.nav-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff; /* Warna garis bawah */
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.nav-link:hover::before {
  color: inherit;
  transform: scaleX(1);
}
.btn-profile {
  background-color: transparent !important;
  border: none;
  padding: 0;
  color: #ffffff !important; /*  warna ikon  */
  font-size: 24px;
}

/* header */
header {
  height: 100%;
  padding: 25vh 0;
}
.btn-filter {
  margin: 0 1vh 0 1vh;
}
.btn-filter active {
  background-color: #fff; /* Warna latar belakang untuk tombol aktif */
  color: #464bbe; /* Warna teks untuk tombol aktif */
  border-color: #464bbe;
}

/* footer */
footer {
  background-color: #464bbe;
}
.li-footer-prop {
  list-style: none;
  padding: 1vh 0 1vh 0;
}

.button-footer {
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s ease;
}

.button-footer:hover {
  color: #ffffff;
  text-shadow: 2px 2px 3px #ffffff80;
}

.icon-prop {
  font-size: 4.5vh;
}

.copy-prop {
  background-color: #4246ab;
}
